<!DOCTYPE html>
<html lang="pl" ng-app="MojaApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AJSZad03</title>
    <script src="ngapp/angular.min.js"></script>
    <script src="ngapp/myapp.js"></script>
    <script></script>
</head>
<body>
    <div ng-controller="MojController">
        <!-- Implikujemy kod html z innego pliku -->
        <header ng-include="'header.html'"></header> 
        
        <input type="text" ng-model="szukaj">
        <p>{{tytul}}</p>
        <ul>
            <li ng-repeat="goscie in lista | orderBy: '-imie' | filter: szukaj">{{goscie.imie}}, wiek: {{goscie.wiek | currency: 'lat ': 0 }} - miejsce: {{goscie.miejsce}}</li>
        </ul>
    </div>
</body>
</html>