<!DOCTYPE html>
<html lang="pl" ng-app="MojaApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AJSZad03</title>
    <script src="ngapp/angular.min.js"></script>
    <script src="ngapp/myapp.js"></script>
    <script></script>
</head>
<body>
    <div ng-controller="MojController">
        <!-- Implikujemy kod html z innego pliku -->
        <header ng-include="'header.html'"></header> 

        <button ng-click="sortuj = 'imie'">Sortuj po imieniu</button>
        <button ng-click="sortuj = 'wiek'">Sortuj po wieku</button>
        
        <input type="text" ng-model="szukaj" placeholder="Wyszukaj imię">
        <p>{{tytul}}</p>
        
        <ul>
            <li ng-repeat="goscie in lista | orderBy: sortuj | filter: {imie:szukaj}" ng-show="goscie.dostepnosc">
                <button style="font-weight: bold" ng-click="goscie.dostepnosc = false">X</button>
                {{goscie.imie}}, wiek: {{goscie.wiek | currency: 'lat ': 0 }} - miejsce: {{goscie.miejsce}} 
            </li>
        </ul>
        <button ng-click="reset()">Zresetuj</button>
    </div>
</body>
</html>